In [17]:
import mat73
import scipy
import scipy.io
import pandas as pd

In [1]:
# funcoes desenvolvidas pela propria physionet
# -----------------------------------------------------------------------------
# import the outcome vector, given the file name.
# e.g. /training/tr04-0808/tr04-0808-arousal.mat
# -----------------------------------------------------------------------------
def import_arousals(file_name):
    import h5py
    import numpy
    f = h5py.File(file_name, 'r')
    arousals = numpy.array(f['data']['arousals'])
    return arousals

def import_signals(file_name):
    return np.transpose(scipy.io.loadmat(file_name)['val'])

# -----------------------------------------------------------------------------
# Take a header file as input, and returns the names of the signals
# For the corresponding .mat file containing the signals.
# -----------------------------------------------------------------------------
def import_signal_names(file_name):
    with open(file_name, 'r') as myfile:
        s = myfile.read()
        s = s.split('\n')
        s = [x.split() for x in s]

        n_signals = int(s[0][1])
        n_samples = int(s[0][3])
        Fs        = int(s[0][2])

        s = s[1:-1]
        s = [s[i][8] for i in range(0, n_signals)]
    return s, Fs, n_samples

# -----------------------------------------------------------------------------
# Get a given subject's data
# -----------------------------------------------------------------------------
def get_subject_data(arousal_file, signal_file, signal_names):
    this_arousal   = import_arousals(arousal_file)
    this_signal    = mat73.loadmat(signal_file)
    this_data      = np.append(this_signal, this_arousal, axis=1)
    this_data      = pd.DataFrame(this_data, index=None, columns=signal_names)
    return this_data

def get_subject_data_test(signal_file, signal_names):
    this_signal    = mat73.loadmat(signal_file)
    this_data      = this_signal
    this_data      = pd.DataFrame(this_data, index=None, columns=signal_names)
    return this_data

In [3]:
# importandos dados de tr03-0005, dados de resposta
arousals_03 = import_arousals('C:/Users/thiago.barral/OneDrive - B2W Digital/Documentos/GitHub/projetofinalmestrado/tr03-0005-arousal.mat')

In [8]:
data_all = mat73.loadmat('C:/Users/thiago.barral/OneDrive - B2W Digital/Documentos/GitHub/projetofinalmestrado/tr03-0005-arousal.mat')

In [10]:
header = import_signal_names('C:/Users/thiago.barral/OneDrive - B2W Digital/Documentos/GitHub/projetofinalmestrado/tr03-0005.hea')

In [18]:
data_mat = scipy.io.loadmat('C:/Users/thiago.barral/OneDrive - B2W Digital/Documentos/GitHub/projetofinalmestrado/tr03-0005.mat')
data_mat = pd.DataFrame(data_mat['val']).T

In [19]:
columns_names = header[0]
data_mat.columns = columns_names

In [20]:
data_mat['F3-M2'] = (data_mat['F3-M2'] - data_mat['F3-M2'].min()) / (data_mat['F3-M2'].max() - data_mat['F3-M2'].min())
data_mat['F4-M1'] = (data_mat['F4-M1'] - data_mat['F4-M1'].min()) / (data_mat['F4-M1'].max() - data_mat['F4-M1'].min())
data_mat['C3-M2'] = (data_mat['C3-M2'] - data_mat['C3-M2'].min()) / (data_mat['C3-M2'].max() - data_mat['C3-M2'].min())
data_mat['C4-M1'] = (data_mat['C4-M1'] - data_mat['C4-M1'].min()) / (data_mat['C4-M1'].max() - data_mat['C4-M1'].min())
data_mat['O1-M2'] = (data_mat['O1-M2'] - data_mat['O1-M2'].min()) / (data_mat['O1-M2'].max() - data_mat['O1-M2'].min())
data_mat['O2-M1'] = (data_mat['O2-M1'] - data_mat['O2-M1'].min()) / (data_mat['O2-M1'].max() - data_mat['O2-M1'].min())
data_mat['E1-M2'] = (data_mat['E1-M2'] - data_mat['E1-M2'].min()) / (data_mat['E1-M2'].max() - data_mat['E1-M2'].min())
data_mat['Chin1-Chin2'] = (data_mat['Chin1-Chin2'] - data_mat['Chin1-Chin2'].min()) / (data_mat['Chin1-Chin2'].max() - data_mat['Chin1-Chin2'].min())
data_mat['ABD'] = (data_mat['ABD'] - data_mat['ABD'].min()) / (data_mat['ABD'].max() - data_mat['ABD'].min())
data_mat['CHEST'] = (data_mat['CHEST'] - data_mat['CHEST'].min()) / (data_mat['CHEST'].max() - data_mat['CHEST'].min())
data_mat['AIRFLOW'] = (data_mat['AIRFLOW'] - data_mat['AIRFLOW'].min()) / (data_mat['AIRFLOW'].max() - data_mat['AIRFLOW'].min())
data_mat['ECG'] = (data_mat['ECG'] - data_mat['ECG'].min()) / (data_mat['ECG'].max() - data_mat['ECG'].min())
data_mat['SaO2'] = (data_mat['SaO2'] - data_mat['SaO2'].min()) / (data_mat['SaO2'].max() - data_mat['SaO2'].min())

<ipython-input-20-5b6689422a16>:13: RuntimeWarning: overflow encountered in short_scalars
  data_mat['SaO2'] = (data_mat['SaO2'] - data_mat['SaO2'].min()) / (data_mat['SaO2'].max() - data_mat['SaO2'].min())

In [21]:
# juntado o dataframe com os dados de entrada e a resposta 

data_mat['Arousal'] = arousals_03

In [22]:
# removendo os valores de resposta -1, pois nao serão identificados. E em seguida removendo a coluna "Arousal"

df_remove = data_mat.loc[(data_mat['Arousal'] == -1)]
data_mat = data_mat.drop(df_remove.index)
data_mat = data_mat.drop('Arousal',axis=1)

In [23]:
data_arousal_03 = pd.DataFrame(arousals_03)
data_arousal_03.columns = ['Respostas']
df_remove_arousal_03 = data_arousal_03.loc[(data_arousal_03.Respostas == -1)]
data_arousal_03 = data_arousal_03.drop(df_remove_arousal_03.index)
data_arousal_03

         Respostas
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
4803993        1.0
4803994        1.0
4803995        1.0
4803996        1.0
4803997        1.0

[2541898 rows x 1 columns]

In [24]:
data_mat_29 = scipy.io.loadmat('C:/Users/thiago.barral/OneDrive - B2W Digital/Documentos/GitHub/projetofinalmestrado/tr03-0005.mat')
data_arousal_29 = import_arousals('C:/Users/thiago.barral/OneDrive - B2W Digital/Documentos/GitHub/projetofinalmestrado/tr03-0005-arousal.mat')

In [25]:
# manipulando data_mat_29_para ficar no formato ideal

data_mat_29 = pd.DataFrame(data_mat_29['val']).T
data_mat_29.columns = columns_names
data_mat_29['F3-M2'] = (data_mat_29['F3-M2'] - data_mat_29['F3-M2'].min()) / (data_mat_29['F3-M2'].max() - data_mat_29['F3-M2'].min())
data_mat_29['F4-M1'] = (data_mat_29['F4-M1'] - data_mat_29['F4-M1'].min()) / (data_mat_29['F4-M1'].max() - data_mat_29['F4-M1'].min())
data_mat_29['C3-M2'] = (data_mat_29['C3-M2'] - data_mat_29['C3-M2'].min()) / (data_mat_29['C3-M2'].max() - data_mat_29['C3-M2'].min())
data_mat_29['C4-M1'] = (data_mat_29['C4-M1'] - data_mat_29['C4-M1'].min()) / (data_mat_29['C4-M1'].max() - data_mat_29['C4-M1'].min())
data_mat_29['O1-M2'] = (data_mat_29['O1-M2'] - data_mat_29['O1-M2'].min()) / (data_mat_29['O1-M2'].max() - data_mat_29['O1-M2'].min())
data_mat_29['O2-M1'] = (data_mat_29['O2-M1'] - data_mat_29['O2-M1'].min()) / (data_mat_29['O2-M1'].max() - data_mat_29['O2-M1'].min())
data_mat_29['E1-M2'] = (data_mat_29['E1-M2'] - data_mat_29['E1-M2'].min()) / (data_mat_29['E1-M2'].max() - data_mat_29['E1-M2'].min())
data_mat_29['Chin1-Chin2'] = (data_mat_29['Chin1-Chin2'] - data_mat_29['Chin1-Chin2'].min()) / (data_mat['Chin1-Chin2'].max() - data_mat_29['Chin1-Chin2'].min())
data_mat_29['ABD'] = (data_mat_29['ABD'] - data_mat_29['ABD'].min()) / (data_mat_29['ABD'].max() - data_mat_29['ABD'].min())
data_mat_29['CHEST'] = (data_mat_29['CHEST'] - data_mat_29['CHEST'].min()) / (data_mat_29['CHEST'].max() - data_mat_29['CHEST'].min())
data_mat_29['AIRFLOW'] = (data_mat_29['AIRFLOW'] - data_mat_29['AIRFLOW'].min()) / (data_mat_29['AIRFLOW'].max() - data_mat_29['AIRFLOW'].min())
data_mat_29['ECG'] = (data_mat_29['ECG'] - data_mat_29['ECG'].min()) / (data_mat_29['ECG'].max() - data_mat_29['ECG'].min())
data_mat_29['SaO2'] = (data_mat_29['SaO2'] - data_mat_29['SaO2'].min()) / (data_mat_29['SaO2'].max() - data_mat_29['SaO2'].min())
data_mat_29

<ipython-input-25-5ff74a3790a0>:17: RuntimeWarning: overflow encountered in short_scalars
  data_mat_29['SaO2'] = (data_mat_29['SaO2'] - data_mat_29['SaO2'].min()) / (data_mat_29['SaO2'].max() - data_mat_29['SaO2'].min())

,F3-M2,F4-M1,C3-M2,C4-M1,O1-M2,O2-M1,E1-M2,Chin1-Chin2,ABD,CHEST,AIRFLOW,SaO2,ECG
0,0.479591,0.681240,0.498276,0.553212,0.598466,0.693206,0.495755,1.004550,0.502993,0.475416,0.527471,1.99923,0.497017
1,0.476136,0.680877,0.494562,0.552725,0.595058,0.691454,0.491908,1.007260,0.503616,0.475777,0.534833,1.99923,0.491052
2,0.477799,0.680877,0.495889,0.552237,0.595697,0.689702,0.493234,0.998530,0.504738,0.476320,0.530607,1.99923,0.504056
3,0.479335,0.680756,0.497347,0.551627,0.596762,0.688729,0.494561,0.991004,0.505985,0.476862,0.527744,1.99923,0.510260
4,0.477799,0.681240,0.496021,0.551993,0.595910,0.689313,0.493102,1.003647,0.507107,0.477404,0.531970,1.99923,0.495705
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5146995,0.480742,0.680635,0.498939,0.552115,0.597934,0.690870,0.498541,0.999734,0.508105,0.456435,0.522972,-0.00000,0.413267
5146996,0.480742,0.680635,0.498939,0.552115,0.597934,0.690870,0.498541,0.999734,0.508105,0.456435,0.522154,-0.00000,0.551658
5146997,0.480742,0.680635,0.498939,0.552115,0.597934,0.690870,0.498541,0.999734,0.508105,0.456435,0.521336,-0.00000,0.568122
5146998,0.480742,0.680635,0.498939,0.552115,0.597934,0.690870,0.498541,0.999734,0.508105,0.456616,0.522563,-0.00000,0.416488
5146999,0.480742,0.680635,0.498939,0.552115,0.597934,0.690870,0.498541,0.999734,0.508105,0.456616,0.522699,-0.00000,0.494751

In [26]:
# juntando os dataframes para excluir as linhas com arousals = -1

data_mat_29['Arousal'] = data_arousal_29

In [27]:
# removendo as linhas com arousal = -1 

df_remove_29 = data_mat_29.loc[(data_mat_29['Arousal'] == -1)]
data_mat_29 = data_mat_29.drop(df_remove_29.index)
data_mat_29 = data_mat_29.drop('Arousal',axis=1)
data_mat_29

,F3-M2,F4-M1,C3-M2,C4-M1,O1-M2,O2-M1,E1-M2,Chin1-Chin2,ABD,CHEST,AIRFLOW,SaO2,ECG
0,0.479591,0.681240,0.498276,0.553212,0.598466,0.693206,0.495755,1.004550,0.502993,0.475416,0.527471,1.999230,0.497017
1,0.476136,0.680877,0.494562,0.552725,0.595058,0.691454,0.491908,1.007260,0.503616,0.475777,0.534833,1.999230,0.491052
2,0.477799,0.680877,0.495889,0.552237,0.595697,0.689702,0.493234,0.998530,0.504738,0.476320,0.530607,1.999230,0.504056
3,0.479335,0.680756,0.497347,0.551627,0.596762,0.688729,0.494561,0.991004,0.505985,0.476862,0.527744,1.999230,0.510260
4,0.477799,0.681240,0.496021,0.551993,0.595910,0.689313,0.493102,1.003647,0.507107,0.477404,0.531970,1.999230,0.495705
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4803993,0.480742,0.680271,0.498806,0.551506,0.596975,0.688729,0.498541,0.997627,0.478678,0.479393,0.520791,3.497306,0.549988
4803994,0.480614,0.680514,0.498541,0.551627,0.596656,0.688923,0.498541,0.999132,0.478554,0.479393,0.521881,3.497306,0.399547
4803995,0.480486,0.680514,0.498408,0.551384,0.596549,0.688534,0.498541,0.999132,0.478429,0.479212,0.521609,3.497306,0.511930
4803996,0.480358,0.679908,0.498276,0.551140,0.596869,0.688145,0.498806,0.999433,0.478304,0.479212,0.520791,3.497306,0.594369
4803997,0.480614,0.679666,0.498541,0.550774,0.597188,0.687755,0.499071,1.001239,0.478304,0.479212,0.521609,3.497306,0.431401

In [28]:
from sklearn.neural_network import MLPClassifier

In [29]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)

In [30]:
clf.fit(data_mat, data_arousal_03)

C:\Users\thiago.barral\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

In [31]:
# prevendo valores para outro exemplo

y_pred = clf.predict(data_mat_29)

In [34]:
data_arousal_29 = pd.DataFrame(data_arousal_29)
data_arousal_29.columns = ['Respostas']
df_remove_arousal_29 = data_arousal_29.loc[(data_arousal_29.Respostas == -1)]
data_arousal_29 = data_arousal_29.drop(df_remove_arousal_29.index)
data_arousal_29

         Respostas
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
4803993        1.0
4803994        1.0
4803995        1.0
4803996        1.0
4803997        1.0

[2541898 rows x 1 columns]

In [32]:
from sklearn.metrics import confusion_matrix

In [35]:
# avaliação das respostas previstas e resposta correta

confusion_matrix(data_arousal_29, y_pred)

array([[2355871,       0],
       [ 186027,       0]], dtype=int64)

In [39]:
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import auc, plot_precision_recall_curve

In [37]:
# Data to plot precision - recall curve
precision, recall, thresholds = precision_recall_curve(data_arousal_29, y_pred)
# Use AUC function to calculate the area under the curve of precision recall curve
auc_precision_recall = auc(recall, precision)
print(auc_precision_recall)

0.5365921449247767

In [41]:
from sklearn import metrics

In [42]:
print("Accuracy:",metrics.accuracy_score(data_arousal_29, y_pred))

Accuracy: 0.9268157101504466